/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add! */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: brown;
  color: white;
  padding: 25px;
  font-family: georgia;
  padding: 15px;
}

header {
  padding: 5px;
  display: block;
  width: 790px;
  text-align: center;
  font-size: 55px;
  color: white;
}

nav {
  line-height: 28px;
  background-color:brown;
  width:125px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: black;
  text-decoration: overline;
  padding-right: 20px;


}

nav ul {
  list-style-type: square;
  color: black;
}

a {
    color: black;
}


section {
  width: 516px;
  display: inline-block;
}

aside {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  background-color:yellow;
  font-size: 20px;
}

aside ul {
  list-style-type: none;
}

footer {
  width: 790px;
  background-color:yellow;
  text-align:center;
  padding:5px;
  display: block;
  color: black;
}
